<div class="banner">
  <div class="config">
    <div class="cta">
      <h3>Gib Deinem Shirt den letzten Feinschliff!</h3>

    </div>
    <div class="choice-container">
      <div class="tshirt-container">
        <div class="front">
          <%= render '/tshirts/shirt_extended', tshirt: @tshirt %>
        </div>
        <div class="back">
          <%= render '/tshirts/shirt_extended_back', tshirt: @tshirt %>
        </div>
      </div>
      <div class="choice">
        <%= render '/tshirts/form_extended', tshirt: @tshirt %>
      </div>
    </div>
  </div>
  <div class="usp">
    <div class="usp-item-group">
      <div class="usp-item">
        <span><i class="fas fa-child"></i></span><p>Zeig der Welt, dass Du stolz auf Dein Kind bist</p>
      </div>
      <div class="usp-item">
        <span><i class="far fa-smile"></i></span><p>Bestelle jetzt Dein 100% individuelles Elternshirt</p>
      </div>
    </div>
    <div class="usp-item-group">
      <div class="usp-item">
        <span><i class="fas fa-trophy"></i></span><p>Dein ganz besonderes Shirt, in Premiumqualität</p>
      </div>
      <div class="usp-item">
        <span><i class="fas fa-gift"></i></span><p>Auch als Geschenk eine große Freude für alle Eltern!</p>
      </div>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <%= javascript_pack_tag 'flip' %>
  <%# javascript_pack_tag 'shirtBackPrint' %>
<% end %>
