<div class="banner">
  <div class="config">
    <div class="cta">
      <h3>Konfiguriere jetzt Dein Shirt in 30 Sekunden.</h3>
    </div>
    <div class="choice">
      <%= render '/tshirts/form', tshirt: @tshirt %>
    </div>
    <%= render '/tshirts/shirt', tshirt: @tshirt %>
  </div>
  <div class="usp">
    <div class="usp-item-group">
      <div class="usp-item">
        <span><i class="fas fa-child"></i></span><p>Zeig der Welt, dass Du stolz auf Dein Kind bist</p>
      </div>
      <div class="usp-item">
        <span><i class="far fa-smile"></i></span><p>Bestelle jetzt Dein 100% individuelles Elternshirt</p>
      </div>
    </div>
    <div class="usp-item-group">
      <div class="usp-item">
        <span><i class="fas fa-trophy"></i></span><p>Dein ganz besonderes Shirt, in Premiumqualität</p>
      </div>
      <div class="usp-item">
        <span><i class="fas fa-gift"></i></span><p>Auch als Geschenk eine große Freude für alle Eltern!</p>
      </div>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <%= javascript_pack_tag 'datepicker' %>
  <%= javascript_pack_tag 'shirtFrontPrint' %>
<% end %>

